* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -0.3px;
	color: #222222;
	padding-bottom: 2rem;
	line-height: 1.75;
	word-break: keep-all;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: #3560f8;
	color: #fff7c8;
}

img {
	max-width: 100%;
	border: 0;
}

h1 {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 2.8rem;
}

h2 {
	font-size: 2rem;
}

time {
	font-size: 0.9rem;
}

ul,
li,
ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	font-family: inherit;
}

.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 70rem;
	margin: 0 auto;
	box-shadow: -7px 11px 20px 2px #1111111f;
}

.content {
	width: 100%;
	padding: 100px 70px;
}

.introdu {
	width: calc(100% - 360px);
}

.sideBox {
	position: absolute;
	right: 0;
	background: #3560f8;
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sideBox .imgBox {
	position: relative;
	background: #fff;
	width: 280px;
	height: 280px;
	border-radius: 10%;
	margin: 100px 0;
	overflow: hidden;
}

.sideBox .imgBox img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 97%;
	border-radius: 9%;
}

.sideBox .contactBox {
	background: #0f1353;
	width: 100%;
	color: #fff;
	padding: 20px 28px;
	margin-bottom: 36px;
}

.sideBox .contactBox .tit {
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
	font-size: 1.4rem;
	position: relative;
	padding-left: 15px;
	margin-bottom: 10px;
	font-weight: 700;
}

.sideBox .contactBox .tit::before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	background: #fff;
	transform: translateY(-50%);
}

.sideBox .contactBox li {
	font-family: 'Nanum Gothic', sans-serif;
	line-height: 2rem;
}

section {
	position: relative;
	margin-bottom: 50px;
}

.nameBox .name {
	color: #3560f8;
}

.nameBox .deco {
	color: #877474;
}

.nameBox .intro {
	color: #3560f8;
	width: calc(100% - 360px);
}

section .tit_hd {
	display: flex;
	align-items: center;
	width: 100%;
}

section .tit_hd .tit {
	position: relative;
	padding: 0 15px;
	color: #3560f8;
}

section .tit_hd .tit::before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	background: #3560f8;
	transform: translateY(-50%);
}

section .tit_bar {
	flex: auto;
	height: 4px;
	background: #3560f8;
	border-radius: 20px;
}

.project_list li {
	display: flex;
}

.project_list li > div {
	display: flex;
	flex-direction: column;
	position: relative;
}

.project_list .txt_r {
	width: 250px;
}

.project_list .txt_1 {
	padding-left: 24px;
	width: calc(100% - 250px);
}

.project_list .txt_1 li {
	font-size: 0.9rem;
	display: block;
	position: relative;
	padding-left: 12px;
}
.project_list .txt_1 li::before {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	position: absolute;
	top: 11px;
	left: 0;
	background: #3560f8;
}

.project_list .txt_1::before {
	content: '';
	display: block;
	background: #ddd;
	position: absolute;
	left: 0;
	width: 2px;
	height: 98%;
	top: 15px;
}

.project_list .txt_1::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: -4px;
	background: #0f1353;
}

.project_list li:first-child {
	margin-top: 20px;
}

.project_list li:last-child .txt_1::before {
	display: none;
}

.typeBox .type {
	display: flex;
}

.typeBox .type + .type {
	margin-top: 16px;
}

.typeBox .tit {
	margin-right: 22px;
}

.typeBox ul,
.typeBox li {
	display: inline-block;
}

.typeBox li {
	border: 1px solid #ddd;
	border-radius: 18px;
	padding: 0px 14px 1px;
	margin-right: 10px;
}

.typeBox li:hover {
	color: #3560f8;
	border: 1px solid #3560f8;
}

.pc {
	display: block !important;
}

.mo {
	display: none !important;
}
@media (max-width: 960px) {
	html,
	body {
		font-size: 14px;
		padding-bottom: 0;
	}

	.mo {
		display: block !important;
	}

	.pc {
		display: none !important;
	}

	time.mo {
		margin: 1rem 0;
	}

	.container {
		flex-direction: column-reverse;
	}

	.content {
		width: 100%;
		padding: 2rem 20px 0;
	}

	.introdu {
		width: 100%;
	}

	.sideBox {
		position: relative;
		width: 100%;
		padding: 20px;
		height: 90px;
	}

	.project_list li {
		flex-direction: column;
	}
	.project_list > ul > li:not(:first-child) {
		border-top: 1px solid #ddd;
		margin-top: -1.6rem;
		padding-top: 1.6rem;
	}

	.project_list .txt_1 {
		padding-left: 0;
		width: 100%;
	}

	.project_list .txt_1::before,
	.project_list .txt_1::after {
		display: none;
	}

	.typeBox li {
		margin-bottom: 6px;
	}

	.sideBox .contactBox {
		position: absolute;
		top: 90px;
		width: 100%;
		padding: 10px 0;
	}

	.sideBox .contactBox .tit {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1rem;
	}

	.sideBox .contactBox li {
		line-height: 1.4rem;
		font-size: 0.8rem;
		padding-left: 55%;
	}

	.sideBox .imgBox {
		position: absolute;
		bottom: 12px;
		left: 20px;
		width: 50px;
		height: 50px;
		margin: 0px 0;
	}

	.sideBox .imgBox img {
		width: 92%;
	}

	.nameBox .name {
		z-index: -10000 !important;
		font-size: 0 !important;
		line-height: 0 !important;
	}
	.nameBox .intro {
		position: absolute;
		z-index: 1000;
		font-size: 0.9rem;
		color: #fff;
		left: 61px;
		bottom: 38px;
		width: calc(100% - 50px);
	}
}

@media (max-width: 384px) {
	.sideBox {
		height: 114px;
	}
	.sideBox .contactBox {
		top: 114px;
	}
}
